## COVIDP Data

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [10]:
csv_file = "covid_p.csv"
covidp = pd.read_csv(csv_file)
covidp.head()

,Continent,Country,Province,Day,Total Detected,Active,Active Hospitalized,Cumulative Hospitalized,Total Detected Deaths,Active Ventilated,Total Detected True,Total Detected Deaths True,Total Detected LB,Total Detected Deaths LB,Total Detected UB,Total Detected Deaths UB
0,Africa,Algeria,None,2020-12-06,109744,29003,5081,14432,2594,1055,NaN,NaN,109744,2594,109744,2594
1,Africa,Algeria,None,2020-12-07,114012,31322,5478,15072,2637,1140,NaN,NaN,109744,2598,124978,2676
2,Africa,Algeria,None,2020-12-08,118664,33870,5913,15770,2683,1233,NaN,NaN,109744,2628,134173,2738
3,Africa,Algeria,None,2020-12-09,123730,36662,6389,16530,2733,1336,NaN,NaN,109744,2665,142725,2801
4,Africa,Algeria,None,2020-12-10,129235,39703,6908,17355,2787,1447,NaN,NaN,109744,2709,151168,2865

In [19]:
covidp.columns

Index(['Continent', 'Country', 'Province', 'Day', 'Total Detected', 'Active',
       'Active Hospitalized', 'Cumulative Hospitalized',
       'Total Detected Deaths', 'Active Ventilated', 'Total Detected True',
       'Total Detected Deaths True', 'Total Detected LB',
       'Total Detected Deaths LB', 'Total Detected UB',
       'Total Detected Deaths UB'],
      dtype='object')

In [11]:
covidp = covidp.drop(columns=['Continent'])
covidp.head()

,Country,Province,Day,Total Detected,Active,Active Hospitalized,Cumulative Hospitalized,Total Detected Deaths,Active Ventilated,Total Detected True,Total Detected Deaths True,Total Detected LB,Total Detected Deaths LB,Total Detected UB,Total Detected Deaths UB
0,Algeria,None,2020-12-06,109744,29003,5081,14432,2594,1055,NaN,NaN,109744,2594,109744,2594
1,Algeria,None,2020-12-07,114012,31322,5478,15072,2637,1140,NaN,NaN,109744,2598,124978,2676
2,Algeria,None,2020-12-08,118664,33870,5913,15770,2683,1233,NaN,NaN,109744,2628,134173,2738
3,Algeria,None,2020-12-09,123730,36662,6389,16530,2733,1336,NaN,NaN,109744,2665,142725,2801
4,Algeria,None,2020-12-10,129235,39703,6908,17355,2787,1447,NaN,NaN,109744,2709,151168,2865

In [12]:
#Data Analysis for US
us = covidp[covidp["Country"]=="US"]
us.head()

,Country,Province,Day,Total Detected,Active,Active Hospitalized,Cumulative Hospitalized,Total Detected Deaths,Active Ventilated,Total Detected True,Total Detected Deaths True,Total Detected LB,Total Detected Deaths LB,Total Detected UB,Total Detected Deaths UB
6683,US,Alabama,2020-12-06,268772,33342,6558,34545,3841,1182,NaN,NaN,268772,3841,268772,3841
6684,US,Alabama,2020-12-07,271319,33697,6632,34927,3869,1194,NaN,NaN,269433,3841,273205,3914
6685,US,Alabama,2020-12-08,273874,34038,6703,35311,3898,1206,NaN,NaN,271207,3841,276541,3961
6686,US,Alabama,2020-12-09,276435,34363,6773,35695,3927,1217,NaN,NaN,273168,3849,279702,4005
6687,US,Alabama,2020-12-10,279004,34675,6840,36080,3956,1228,NaN,NaN,275232,3867,282776,4045

In [14]:
us=us.fillna(0)
us.head()

,Country,Province,Day,Total Detected,Active,Active Hospitalized,Cumulative Hospitalized,Total Detected Deaths,Active Ventilated,Total Detected True,Total Detected Deaths True,Total Detected LB,Total Detected Deaths LB,Total Detected UB,Total Detected Deaths UB
6683,US,Alabama,2020-12-06,268772,33342,6558,34545,3841,1182,0.0,0.0,268772,3841,268772,3841
6684,US,Alabama,2020-12-07,271319,33697,6632,34927,3869,1194,0.0,0.0,269433,3841,273205,3914
6685,US,Alabama,2020-12-08,273874,34038,6703,35311,3898,1206,0.0,0.0,271207,3841,276541,3961
6686,US,Alabama,2020-12-09,276435,34363,6773,35695,3927,1217,0.0,0.0,273168,3849,279702,4005
6687,US,Alabama,2020-12-10,279004,34675,6840,36080,3956,1228,0.0,0.0,275232,3867,282776,4045

In [15]:
us.columns

Index(['Country', 'Province', 'Day', 'Total Detected', 'Active',
       'Active Hospitalized', 'Cumulative Hospitalized',
       'Total Detected Deaths', 'Active Ventilated', 'Total Detected True',
       'Total Detected Deaths True', 'Total Detected LB',
       'Total Detected Deaths LB', 'Total Detected UB',
       'Total Detected Deaths UB'],
      dtype='object')

In [18]:
us = pd.DataFrame(us.groupby("Day").sum())
us.reset_index(inplace = True)
us.head()

,Day,Total Detected,Active,Active Hospitalized,Cumulative Hospitalized,Total Detected Deaths,Active Ventilated,Total Detected True,Total Detected Deaths True,Total Detected LB,Total Detected Deaths LB,Total Detected UB,Total Detected Deaths UB
0,2020-12-06,30282446,5498252,1040820,3781754,557860,196656,0.0,0.0,30282446,557860,30282446,557860
1,2020-12-07,30760220,5616320,1063824,3853432,561452,200840,0.0,0.0,30321869,558423,31598217,567061
2,2020-12-08,31245488,5734264,1086882,3926218,565102,205034,0.0,0.0,30405621,560082,32430594,573043
3,2020-12-09,31738028,5851920,1109972,4000100,568812,209200,0.0,0.0,30646492,562057,33189483,578537
4,2020-12-10,32237374,5968842,1133034,4074998,572562,213348,0.0,0.0,30922240,564294,33913370,583788

In [19]:
# Export the cleaned data as a csv file
us.to_csv("covp_us.csv")